body {
   font-family: 'Roboto', sans-serif;
}


/****************************
            HEADER
*****************************/


nav {
   background-color: #2C3E50;
}

nav a {
   color: #fff;
}

.green_bg {
   background-color: #3CBB9C;
}




/****************************
            MAIN
*****************************/


/* star divider */

.star-divider {
   margin: 20px auto;
   max-width: 250px;
   min-width: 100%;
}

.star-divider::after,
.star-divider::before,
.black-star-divider.star_black::after,
.black-star-divider.star_black::before {
   content: '';
   display: inline-block;
   width: 15%;
   height: 3px;
   border-radius: 2px;
   vertical-align: middle;
   margin: 0px 4px 12px 4px;
}

.star-divider::after,
.star-divider::before {
   background-color: #fff;
}

.black-star-divider.star_black::after,
.black-star-divider.star_black::before {
   background-color: #000;
}

.bi.bi-star-fill {
   font-size: 2rem;
}

/* form section */

.form-section {
   height: 400px;
   background-color: cadetblue;
}





/****************************
            FOOTER
*****************************/





.primary-footer {
   background-color: #3A546D;
}

.secondary-footer {
   background-color: #2C3E50;
}

.footer-icon {
   display: inline-block;
   width: 45px;
   height: 45px;
}

footer a {
   color: #3CBB9C;
   text-decoration: none;
}